.SupportButton_supportButton__Cm5Y0 {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 20px;
    z-index: 999;
    transition: opacity .2s ease-out
}

.SupportButton_enter__GaoPr,
.SupportButton_exitActive__9Th72 {
    opacity: 0
}

.SupportButton_exitDone__sXZBp {
    display: none
}

.Modal_content__VccJx {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center
}

.Modal_buttonCardsContainer__M0v_y {
    width: 20rem;
    display: flex;
    justify-content: center;
    flex-flow: wrap
}

.Modal_buttonCardsContainer__M0v_y>div {
    margin: 0 .25rem
}

.Modal_buttonCardsContainer__M0v_y div:nth-of-type(4),
.Modal_buttonCardsContainer__M0v_y>div:nth-of-type(3) {
    margin-top: .5rem
}

.Modal_textContainer__cwSAR {
    width: calc(100% - 2rem)
}

.Modal_textContainer__cwSAR h1 {
    color: #111 !important
}

.Modal_textContainer__cwSAR p {
    color: #686868 !important
}

.Modal_ctaContainer__maTSu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center
}

.Modal_ctaContainer__maTSu a {
    position: relative
}

.Modal_ctaContainer__maTSu a:only-child {
    margin: 0 auto !important
}

.Modal_ctaContainer__maTSu a:not(:last-of-type) {
    margin-right: .50875rem
}

@media(min-width:768px) {
    .Modal_buttonCardsContainer__M0v_y {
        width: 100%
    }
    .Modal_buttonCardsContainer__M0v_y>div {
        margin-top: 0 !important
    }
    .Modal_textContainer__cwSAR {
        width: calc(100% - 3rem)
    }
}

.KeyActionCard_heroCard__9sRyT,
.KeyActionCard_keyActionCard__8ZVdQ {
    width: 8.5rem;
    height: 8.5rem
}

.KeyActionCard_heroCard__9sRyT svg,
.KeyActionCard_keyActionCard__8ZVdQ svg {
    height: 48px;
    width: 48px;
    line-height: 48px;
    left: calc(50% - 24px);
    top: calc(50% - 24px);
    position: absolute
}

.KeyActionCard_heroCard__9sRyT span:first-of-type,
.KeyActionCard_keyActionCard__8ZVdQ span:first-of-type {
    height: 48px;
    width: 48px;
    top: 1rem;
    left: calc(50% - 24px);
    position: absolute
}

.KeyActionCard_heroCard__9sRyT span:last-of-type,
.KeyActionCard_keyActionCard__8ZVdQ span:last-of-type {
    height: 3rem;
    width: 6.5rem;
    left: 1rem;
    top: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: #111 !important
}

.KeyActionCard_heroCard__9sRyT+div:not(.KeyActionCard_keyActionCard__8ZVdQ, .KeyActionCard_heroCard__9sRyT),
.KeyActionCard_keyActionCard__8ZVdQ+div:not(.KeyActionCard_keyActionCard__8ZVdQ, .KeyActionCard_heroCard__9sRyT) {
    display: none !important
}

.KeyActionCard_heroCard__9sRyT a,
.KeyActionCard_heroCard__9sRyT button,
.KeyActionCard_keyActionCard__8ZVdQ a,
.KeyActionCard_keyActionCard__8ZVdQ button {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    border: 1px solid #818181 !important;
    position: relative;
    background-color: #fff !important;
    color: #111 !important
}

.KeyActionCard_heroCard__9sRyT a:before,
.KeyActionCard_heroCard__9sRyT button:before,
.KeyActionCard_keyActionCard__8ZVdQ a:before,
.KeyActionCard_keyActionCard__8ZVdQ button:before {
    border-radius: 1rem !important
}

.KeyActionCard_heroCard__9sRyT a:focus,
.KeyActionCard_heroCard__9sRyT button:focus,
.KeyActionCard_keyActionCard__8ZVdQ a:focus,
.KeyActionCard_keyActionCard__8ZVdQ button:focus {
    border: 2px solid #686868 !important;
    color: #111 !important;
    outline: 2px dotted #007983 !important
}

.KeyActionCard_heroCard__9sRyT a:hover,
.KeyActionCard_heroCard__9sRyT button:hover,
.KeyActionCard_keyActionCard__8ZVdQ a:hover,
.KeyActionCard_keyActionCard__8ZVdQ button:hover {
    outline: 1px solid #686868 !important;
    color: #111 !important;
    transition: none !important;
    transform: none !important
}

.KeyActionCard_heroCard__9sRyT a:active,
.KeyActionCard_heroCard__9sRyT button:active,
.KeyActionCard_keyActionCard__8ZVdQ a:active,
.KeyActionCard_keyActionCard__8ZVdQ button:active {
    background-color: #e4f5f6 !important;
    border: 2px solid #007983 !important
}

.KeyActionCard_heroCard__9sRyT .lc-Button.lc-ButtonEE:active,
.KeyActionCard_keyActionCard__8ZVdQ .lc-Button.lc-ButtonEE:active {
    background-color: #e4f5f6 !important
}

@media(max-width:567px) {
    .KeyActionCard_mobileDrawer__JnwzQ>div {
        max-height: -webkit-fit-content !important;
        max-height: -moz-fit-content !important;
        max-height: fit-content !important;
        padding: 2rem 1rem !important
    }
    .KeyActionCard_heroCard__9sRyT {
        width: 18rem;
        height: 3.5rem
    }
    .KeyActionCard_heroCard__9sRyT a,
    .KeyActionCard_heroCard__9sRyT button {
        border: none !important;
        border-bottom: 1px solid #818181 !important;
        border-radius: 0 !important;
        padding: 0 !important;
        position: absolute;
        background-color: #fff !important
    }
    .KeyActionCard_heroCard__9sRyT svg {
        height: 32px !important;
        width: 32px !important;
        line-height: 32px !important;
        margin: auto;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0
    }
    .KeyActionCard_heroCard__9sRyT span {
        height: 100% !important;
        top: 0 !important
    }
    .KeyActionCard_heroCard__9sRyT span:first-of-type {
        left: 1rem !important;
        height: 3.5rem !important;
        width: 3.5rem !important
    }
    .KeyActionCard_heroCard__9sRyT span:last-of-type {
        width: calc(100% - 32px - 3rem) !important;
        left: 5rem !important;
        justify-content: left !important
    }
}

.BrandHero_hero__aoNH6 {
    height: 44rem;
    margin-bottom: -8.25rem;
    position: relative
}

.BrandHero_hero__aoNH6>div {
    height: 100%
}

.BrandHero_hero--useBrandColour__89sG0>div {
    background-color: transparent !important
}

.BrandHero_heroContentWrapper__qVl_6 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 30.625rem
}

.BrandHero_heroContent__h2n0K {
    z-index: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px
}

.BrandHero_heroContent--nohelp__HIxwI {
    padding: 40px
}

.BrandHero_imgContainer__ZuATw>span {
    max-width: 1920px;
    margin: 0 auto !important
}

@media(min-width:568px) {
    .BrandHero_hero__aoNH6 {
        height: 44rem
    }
    .BrandHero_heroContentWrapper__qVl_6 {
        min-height: 35.75rem
    }
}

@media(min-width:768px) {
    .BrandHero_hero__aoNH6 {
        height: 48.625rem
    }
    .BrandHero_heroContentWrapper__qVl_6 {
        min-height: 40.375rem
    }
    .BrandHero_hero__aoNH6 p {
        font-size: 1.5rem !important
    }
}

@media(min-width:1024px) {
    .BrandHero_hero__aoNH6 {
        height: 60.875rem;
        margin-bottom: -13.625rem
    }
    .BrandHero_heroContentWrapper__qVl_6 {
        min-height: 47.25rem
    }
}

@media(min-width:1440px) {
    .BrandHero_hero__aoNH6 {
        height: 70.875rem;
        margin-bottom: -13.625rem
    }
    .BrandHero_heroContentWrapper__qVl_6 {
        min-height: 57.25rem
    }
}

.BrandHero_top__in8yJ {
    align-items: flex-start
}

.BrandHero_bottom__9pMkO {
    align-items: flex-end
}

.BrandHero_center__NI1Cf {
    align-items: center
}

.HeroHeading_heroHeading__4OanQ h1 {
    padding: 0 !important;
    font-weight: 400 !important;
    padding-left: 1.6875rem;
    padding-right: 1.875rem
}

.HeroHeading_heroHeading__4OanQ h1>span {
    font-weight: 700 !important
}

@media(min-width:568px) {
    .HeroHeading_heroHeading__4OanQ h1 {
        font-size: 3rem !important;
        padding-left: 2.0625rem;
        padding-right: 2.0625rem
    }
    .HeroHeading_heroHeading__4OanQ h1>span {
        font-size: 3rem !important
    }
}

@media(min-width:768px) {
    .HeroHeading_heroHeading__4OanQ h1 {
        font-size: 6rem !important;
        padding-left: 4.125rem;
        padding-right: 4.125rem
    }
    .HeroHeading_heroHeading__4OanQ h1>span {
        font-size: 6rem !important
    }
}

@media(min-width:1024px) {
    .HeroHeading_heroHeading__4OanQ h1 {
        padding-left: 5.4375rem;
        padding-right: 5.4375rem
    }
}

@media(min-width:1440px) {
    .HeroHeading_heroHeading__4OanQ h1 {
        padding-left: 7.625rem;
        padding-right: 7.625rem
    }
}

.HeroContent_buttonWrapper___rnlI a+a {
    margin-left: .75rem !important
}

.ProductHero_hero__cVSOr {
    margin-bottom: -6.25rem
}

.ProductHero_hero__cVSOr>div {
    padding-bottom: 6.25rem
}

.ProductHero_hero--useBrandColour__coJB4>div {
    background-color: transparent !important
}

.ProductHero_heroContent__jx2IT {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2.5rem
}

.ProductHero_heroImageContainer__N7kcg {
    position: relative;
    height: 100%;
    margin-top: 1.5rem
}

.ProductHero_heroImageContainer__N7kcg>span {
    margin: 0 auto !important
}

.ProductHero_heroImageContainer__N7kcg>span:first-of-type {
    display: block !important
}

.ProductHero_heroImageContainer__N7kcg>span:last-of-type {
    display: none !important
}

.ProductHero_topHeroImage__2hvwa>div {
    flex-direction: column-reverse
}

.ProductHero_bottomHeroImage__wSYP9>div {
    flex-direction: column
}

@media(min-width:568px) {
    .ProductHero_heroImageContainer__N7kcg {
        margin-top: 2.5rem
    }
    .ProductHero_heroImageContainer__N7kcg>* {
        padding: 0 12.5vw !important
    }
}

@media(min-width:768px) {
    .ProductHero_hero__cVSOr p {
        font-size: 1.5rem !important
    }
}

@media(min-width:1024px) {
    .ProductHero_hero__cVSOr {
        height: 58.625rem;
        margin-bottom: -8.5rem
    }
    .ProductHero_hero__cVSOr>div {
        padding-bottom: 0;
        height: 100%
    }
    .ProductHero_heroContentWrapper__feB07 {
        min-height: 50.125rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center
    }
    .ProductHero_heroContent__jx2IT {
        margin-top: 0;
        align-items: start
    }
    .ProductHero_heroContent__jx2IT h1,
    .ProductHero_heroContent__jx2IT p {
        text-align: left !important
    }
    .ProductHero_heroContent__jx2IT>div {
        align-self: flex-start
    }
    .ProductHero_heroImageContainer__N7kcg {
        margin-top: 0
    }
    .ProductHero_heroImageContainer__N7kcg>span:first-of-type {
        display: none !important
    }
    .ProductHero_heroImageContainer__N7kcg>span:last-of-type {
        display: block !important
    }
    .ProductHero_topHeroImage__2hvwa {
        margin-top: 0
    }
    .ProductHero_leftHeroImage__b7e_O>div {
        flex-direction: row-reverse
    }
    .ProductHero_rightHeroImage__Fyq9G>div {
        flex-direction: row
    }
}

@media(min-width:1440px) {
    .ProductHero_hero__cVSOr {
        height: 60.875rem;
        margin-bottom: -13.625rem
    }
    .ProductHero_heroContentWrapper__feB07 {
        min-height: 47.25rem
    }
}

.SectionWrapper_sectionWrapper__bYpur {
    width: 100%;
    overflow: hidden
}

.LatestTech_transparentSurface__27jlN>div {
    background-color: transparent
}

.LatestTech_slide__Jf_3Q {
    width: 15.75rem !important;
    height: 32rem !important
}

@media(min-width:568px) {
    .LatestTech_slide__Jf_3Q {
        width: 25.4rem !important;
        min-height: 36.5rem
    }
}

.Carousel_carousel__zRKyz {
    overflow: visible !important
}

.LatestItem_card__jYJ0C {
    width: 100%;
    min-height: 32rem;
    overflow: hidden;
    border: .0625rem solid #818181;
    border-radius: 16px;
    background-color: #fff
}

@media(min-width:568px) {
    .LatestItem_card__jYJ0C {
        min-height: 36.5rem
    }
}

.LatestItem_cardContainer__44LLV {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
    height: 100%
}

.LatestItem_cardText__ukBNf,
.LatestItem_label__BpBmF {
    color: #686868
}

.LatestItem_cardText__ukBNf {
    min-height: 4.2rem
}

.LatestItem_cardHeading__mKtGE {
    min-height: 3.5rem
}

.LatestItem_ctaWrapper__2Ex1E {
    position: absolute;
    bottom: 24px;
    left: 24px
}

.JoinEE_container__vyCKi {
    position: relative
}

.JoinEE_content__RdyaU {
    height: 26rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column
}

.JoinEE_headingContainer__D_dJu {
    width: 100%;
    z-index: 1
}

@media(min-width:768px) {
    .JoinEE_content__RdyaU {
        height: 32rem
    }
}

.Deals_slide__zNTnO {
    width: 15.75rem !important
}

@media(min-width:768px) {
    .Deals_slide__zNTnO {
        width: 18.7rem !important
    }
}

.DealItem_dealItemContainer__ATGuP {
    position: relative;
    margin-top: 1.5rem
}

.DealItem_dealItemContainer__ATGuP .DealItem_container__UAab_ {
    border-radius: inherit
}

.DealItem_dealItemContainer__ATGuP .DealItem_container__UAab_ .DealItem_containerBorder__v7Whr {
    border: 1px solid #818181;
    border-radius: inherit
}

.DealItem_dealItemContainer__ATGuP .DealItem_container__UAab_ .DealItem_containerBorder__v7Whr>div #DealItem_dealItemBrandLabel__rcmUl,
.DealItem_dealItemContainer__ATGuP .DealItem_container__UAab_ .DealItem_containerBorder__v7Whr>div #DealItem_dealItemFrom__mVW4R {
    color: #686868
}

.DealItem_dealItemContainer__ATGuP .DealItem_container__UAab_ .DealItem_containerBorder__v7Whr>div #DealItem_dealItemNudgeLabel__Z3o4h {
    color: #007983
}

.DealItem_includeWrapper__OLm_Q {
    text-align: center
}

.DealItem_includeWrapper__OLm_Q>div {
    display: inline-block
}

.DealItem_headingWrapper___vcAf {
    min-height: 3rem
}

.DealItem_containerBorder__v7Whr>div {
    height: 39.8125rem
}

@media(min-width:768px) {
    .DealItem_containerBorder__v7Whr>div {
        min-height: 41.95rem
    }
}

.DealItem_priceContainer__pdc_M {
    display: flex;
    justify-content: space-between
}

.DealItem_priceContainer__pdc_M div:first-child {
    align-items: start
}

.DealItem_priceContainer__pdc_M div:nth-child(2) {
    align-items: end
}

.DealItem_ctaWrapper__Ys7T_ {
    position: absolute;
    bottom: 24px
}

.ProductCardLabel_container__J9KN9 {
    top: -1rem;
    right: 0;
    position: absolute;
    z-index: 1
}

.Price_price__xuCYY {
    display: flex;
    flex-direction: column
}

.Price_price__xuCYY>div:first-child {
    display: flex;
    align-items: baseline
}

.Price_price__xuCYY>.Price_label__apJ_E {
    display: inline-block;
    padding: 2px 4px;
    border-radius: .125rem;
    background: #ffe600
}

.SeeMore_seeMoreContainer__2s94X {
    text-align: center;
    margin-top: 1.5rem;
    height: calc(39.8125rem + 2px)
}

.SeeMore_seeMoreContainer__2s94X>div {
    height: 100%
}

.SeeMore_contentWrapper__qj3hs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%
}

.SeeMore_seeMoreContainer__2s94X>div>a {
    border: 1px solid #818181
}

.SeeMore_seeMoreContainer__2s94X>div>a:hover {
    border: 2px solid #686868
}

.SeeMore_seeMoreContainer__2s94X>div>a:focus {
    border: 2px solid #686868;
    outline: 2px dotted #007983;
    outline-offset: 4px
}

.SeeMore_seeMoreContainer__2s94X>div>a:active {
    background-color: #e4f5f6;
    border: 2px solid #007983
}

.SeeMore_seeMoreContent__HyR81 {
    padding: 0 3rem;
    width: calc(100% - .25rem)
}

.SeeMore_seeMoreContent__HyR81>span {
    font-weight: 600 !important
}

@media(min-width:768px) {
    .SeeMore_seeMoreContainer__2s94X {
        height: calc(41.95rem + 2px)
    }
}

.ChooseProduct_backgroundWrapper__UhgoK {
    margin-top: 384px;
    margin-bottom: 192px;
    width: 100%;
    background-color: #fff !important
}

.ChooseProduct_cardContainer__9U7wN {
    display: flex;
    flex-direction: column
}

.ChooseProduct_card__N8nJh {
    width: 8.5rem;
    height: 8.5rem
}

.WhyEE_backgroundWrapper__RardE {
    height: 6rem;
    width: 100%;
    background-color: #fff
}

@media(min-width:568px) {
    .WhyEE_backgroundWrapper__RardE {
        height: 8rem;
        width: 100%
    }
}

@media(min-width:1024px) {
    .WhyEE_backgroundWrapper__RardE {
        height: 12.5rem;
        width: 100%
    }
}

.WhyEEItem_container__lGywQ {
    margin-top: -6rem;
    border-radius: 0 0 3.125rem 3.125rem
}

.WhyEEItem_container__lGywQ,
.WhyEEItem_whyEEContent__VKvqe {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative
}

.WhyEEItem_whyEEContent__VKvqe {
    width: 100%;
    flex-direction: column;
    padding: 1rem
}

.WhyEEItem_whyEEContent__VKvqe h3 {
    font-weight: 400 !important
}

.WhyEEItem_whyEEContent__VKvqe p {
    font-size: 1rem !important
}

@media(min-width:568px) {
    .WhyEEItem_container__lGywQ {
        margin-top: -8rem
    }
    .WhyEEItem_whyEEContent__VKvqe h4 {
        font-size: 3rem
    }
    .WhyEEItem_whyEEContent__VKvqe p {
        max-width: 27.5rem
    }
}

@media(min-width:1024px) {
    .WhyEEItem_container__lGywQ {
        margin-top: -12.5rem
    }
    .WhyEEItem_whyEEContent__VKvqe h4 {
        font-size: 4rem !important
    }
    .WhyEEItem_whyEEContent__VKvqe p {
        max-width: 46rem
    }
}

.Trending_slide__qgxSW {
    width: 15.75rem !important
}

@media(min-width:768px) {
    .Trending_slide__qgxSW {
        width: 18.75rem !important
    }
}

.TrendingItem_card__8J9kh {
    width: 100%;
    height: auto;
    overflow: hidden;
    border: .0625rem solid #818181;
    border-radius: 1rem
}

.TrendingItem_card__8J9kh>div {
    display: flex;
    flex-direction: column
}

.TrendingItem_cardContainer__7Q8RR {
    height: 14.5rem;
    display: flex;
    flex-direction: column;
    position: relative
}

@media(min-width:768px) {
    .TrendingItem_cardContainer__7Q8RR {
        height: 13.5rem
    }
}

.TrendingItem_ctaButton__0ddIc {
    position: absolute;
    bottom: 0
}

.TrendingItem_cardText__jatNq,
.TrendingItem_label__t1Fbs {
    color: #686868
}

.TrendingItem_cardText__jatNq {
    min-height: 3rem
}

.TrendingItem_cardHeading__Kmn57 {
    min-height: 3.5rem
}